
# clang-format v10.0.0
# Provided in the order specified by https://releases.llvm.org/10.0.0/tools/clang/docs/ClangFormatStyleOptions.html

# BasedOnStyle: LLVM
AccessModifierOffset: 0
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true 
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
# AlwaysBreakAfterDefinitionReturnType: None - deprecated
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
BreakStringLiterals: false
ColumnLimit: 0 # No limit.
CommentPragmas: ''
ContinuationIndentWidth: 4
DeriveLineEnding: false # Use value in UseCRLF.
DerivePointerAlignment: false # Use value in PointerAlignment
DisableFormat: false
# ExperimentalAutoDetectBinPacking: false - experimental
ForEachMacros: [ ]
IncludeBlocks: Merge
IncludeCategories: [ ]
IncludeIsMainRegex: '(_test)?$' # Header file a.h is seen as the main include file in both a.c and a_test.c.
IncludeIsMainSourceRegex: ''
IndentCaseLabels: true
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: false
Language: Cpp
MacroBlockBegin: ''
MacroBlockEnd: ''
MaxEmptyLinesToKeep: 3
PointerAlignment: Left
RawStringFormats: [ ]
ReflowComments: false
SortIncludes: false
SortUsingDeclarations: false
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Latest
StatementMacros: [ ]
TabWidth: 4
TypenameMacros: [ ]
UseCRLF: false
UseTab: Never


# Options not applicable for C programs.
# AllowAllConstructorInitializersOnNextLine: true
# AllowShortLambdasOnASingleLine: None
# AlwaysBreakTemplateDeclarations: Yes
# BraceWrapping:
  # AfterClass: false
  # AfterNamespace: false
  # AfterObjCDeclaration: false
  # SplitEmptyNamespace: true
# BreakAfterJavaFieldAnnotations: false
# BreakConstructorInitializers: BeforeColon
# BreakInheritanceList: BeforeColon
# CompactNamespaces: false
# ConstructorInitializerAllOnOneLineOrOnePerLine: false - deprecated
# ConstructorInitializerIndentWidth: 0
# Cpp11BracedListStyle: false
# FixNamespaceComments: true
# JavaImportGroups: [ 'com.example', 'com', 'org' ]
# JavaScriptQuotes: Leave
# JavaScriptWrapImports: true
# NamespaceIndentation: All
# NamespaceMacros: [ ]
# ObjCBinPackProtocolList: Auto
# ObjCBlockIndentWidth: 2
# ObjCSpaceAfterProperty: false
# ObjCSpaceBeforeProtocolList: true

# Note: penalties are not used due to no restriction on line length.
# PenaltyBreakAssignment: 2
# PenaltyBreakBeforeFirstCallParameter: 19
# PenaltyBreakComment: 300
# PenaltyBreakFirstLessLess: 120
# PenaltyBreakOpenParenthesis: 10
# PenaltyBreakString: 1000
# PenaltyBreakTemplateDeclaration: 10
# PenaltyExcessCharacter: 1000000
# PenaltyIndentedWhitespace: 10
# PenaltyReturnTypeOnItsOwnLine: 60

# SpaceAfterTemplateKeyword: true
# SpaceBeforeCpp11BracedList: true
# SpaceBeforeCtorInitializerColon: true
# SpaceBeforeInheritanceColon: true
# SpaceBeforeRangeBasedForLoopColon: true
# SpacesInAngles: false
# SpacesInContainerLiterals: false
